.nav-link {
    color: "#b74c4d";   
  }
  
.content {
    background-color: black;
}

.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}


