
.AboutUs, .Safeguards
{
    color: #f7838d;
   
}
h1{
    color: white;
}
h7{
    color: white;
}
h5{
    color: #f7838d;  
}
h4{
    color: white;
}
h3{
    color: white;
}
.accordion-button{
    background-color: black;
    color: white;
    border: none

}
.accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: white;
}


