@import '~leaflet/dist/leaflet.css';
*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.nav-link {
  color: "#b74c4d";   
}

.content {
  background-color: black;
}
.leaflet-container {
  width: 100wh; 
  height: 100vh;
}

/* }
.container{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;

}
.canvas{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;

}
.graph{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  
}
.row{
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}
.col{
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}
.colpie{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: relative; 
  height:60vh; 
  width:100vw
} */
/* #canvas2{
  width: 20%;

}  */
